/* Styles for header */
header {
    background-color: grey;
}

.nav_bar {
    margin-left: 80%;
    margin-top: -35px;
}

.contenair_links {
    margin-right: 100px;
}

.link_nav:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}

/* Styles for haut */
.haut {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    background: url("images/Capture d'écran dev web.png") no-repeat center;
    background-size: cover;
    color: white;
}

.haut h1 {
    margin-top: 225px;
}

/* Styles for presentation section */
#presentation {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#presentation h1,
#presentation h3 {
    color: white;
    margin-left: 25px;
}

/* Styles for portfolio section */
#portfolio {
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#portfolio h1,
#portfolio h2 {
    color: white;
    margin-left: 25px;
}

.projets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projet1,
.projet2,
.projet5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: white;
}

.projet1 img,
.projet5 img {
    height: 80px;
    width: 300px;
}

.resume-download {
    color: white;
    margin: 20px;
    text-align: center;
}

.pdf-logo {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

/* Styles for footer */
footer {
    background-color: rgba(128, 128, 128, 0.466);
    text-align: center;
    padding: 20px 0;
}

footer h1 {
    color: white;
}
